*{
	margin:					0;
	padding:				0;
	font-size:				100%;
	text-decoration:		None;
	letter-spacing:			0;
}
html{
	height:					100%;
	overflow:				Hidden;
	border:					0;
}
body{
	margin:					0px;
	height:					100%;
	cursor:					Default;
}
/* --------------------------------------------------------------------------------------------- */
#id_header{
	background:				#FFFFFF Url("../frame_images/hdr_bg.gif") Repeat-x 0 Bottom;
	width:					100%;
	height:					42px;
	position:				Absolute;
	overflow:				Auto;
}
#id_header table{
	width:					100%;
	height:					36px;
	font-size:				0px;
}
#id_header table th{
	text-align:				Left;
	padding-left:			10px;
	vertical-align:			Middle;
	white-space:			Nowrap;
}
#id_header table th span{
	vertical-align:			Middle;
	font:					Bold 9pt "MS PGothic","Osaka",Sans-serif;
	color:					#4687B4;
	margin-right:			20px;
}
#id_header table th img{
	vertical-align:			Middle;
	cursor:					Pointer;
}
#id_header table td{
	text-align:				Right;
	vertical-align:			Middle;
	padding-right:			10px;
	white-space:			Nowrap;
}
#id_header a.self{
	padding-right:			0px;
	margin-right:			10px;
	font:					Normal 9pt "MS PGothic","Osaka",Sans-serif;
	color:					#0000FF;
}
#id_header a.self:hover{
	text-decoration:		Underline;
	cursor:					Pointer;
}
#id_header a.sub_window{
	padding-right:			15px;
	margin-right:			10px;
	font:					Normal 9pt "MS PGothic","Osaka",Sans-serif;
	color:					#0000FF;
	background:				Transparent Url("../frame_images/hdr_a_sub_window.gif") No-repeat Right 50%;
}
#id_header a.sub_window:hover{
	text-decoration:		Underline;
	cursor:					Pointer;
}
#id_header img.header_vr{
	padding-right:			5px;
}
#id_header table td span{
	padding-right:			0px;
	margin-right:			10px;
	font:					Normal 9pt "MS PGothic","Osaka",Sans-serif;
	color:					#808080;
}
/* --------------------------------------------------------------------------------------------- */
#id_body,
#id_content{
	position:				Absolute;
	top:					43px;
	overflow:				Auto;
	background:				#F3F8FA!important;
	border-bottom:			Solid 1px #808080;
}
#id_body button,
#id_content button{
	width:					126px;
	height:					110px;
	margin:					0px 0px 5px 5px;
	cursor:					Pointer;
	border:					None;
	background:				#F3F8FA;
	font:					Normal 9pt "MS PGothic","Osaka",Sans-serif;
	color:					#808080;
	vertical-align:			Middle;
}
#id_body #id_res_product_logo,
#id_content #id_res_product_logo{
	margin:					15px 5px 0px 5px;
}
#id_body div.group,
#id_content div.group{
	background:				#FFFFFF;
	padding:				2px 5px;
	_padding:				5px;
	margin:					5px;
	border:					Solid 1px #4682B4;
	-webkit-border-radius:	2px;
}
#id_body div.group span,
#id_content div.group span{
	border-left:			Solid 3px #4682B4;
	font:					Bold 9pt "MS PGothic","Osaka",Sans-serif;
	color:					#000080;
	padding-left:			5px;
}
#id_body table.home,
#id_content table.home{
	width:					100%;
	table-layout:			Fixed;
}
#id_body table.home td,
#id_content table.home td{
	vertical-align:			Top;
	width:					Auto;
	padding-bottom:			10px;
}
#id_body table.link,
#id_content table.link{
	margin-left:			15px;
}
#id_body table.link th,
#id_content table.link th{
	padding:				0px 5px 0px 15px;
	vertical-align:			Top;
	width:					5px;
}
#id_body table.link th img,
#id_content table.link th img{
	vertical-align:			Top;
	margin-top:				3px;
}
#id_body table.link td,
#id_content table.link td{
	vertical-align:			Top;
	padding-bottom:			0px;
	width:					100%;
}
#id_body table.link td label,
#id_content table.link td label{
	white-space:			Nowrap;
	vertical-align:			Middle;
}
#id_body table.link td label img,
#id_content table.link td label img{
	vertical-align:			Middle;
	margin-top:				2px;
	margin-left:			10px;
}
#id_body table.link td label a,
#id_content table.link td label a{
	vertical-align:			Middle;
	margin-top:				0px;
	margin-bottom:			0px;
}
#id_body a,
#id_content a{
	font:					Normal 9pt "MS PGothic","Osaka",Sans-serif;
	color:					#0000FF;
	vertical-align:			Top;
}
#id_body a:hover,
#id_content a:hover{
	text-decoration:		Underline;
	cursor:					Pointer;
}
/* --------------------------------------------------------------------------------------------- */
#id_footer{
	background:				#EFEFEF;
	position:				Absolute;
	height:					20px;
	border-top:				Solid 1px #FFFFFF;
	font:					Normal 9pt "MS PGothic","Osaka",Sans-serif;
	text-align:				Right;
	padding-top:			5px;
	font-size:				0px;
	overflow:				Auto;
}
#id_footer span{
	padding-right:			5px;
	font:					Normal 9pt "MS PGothic","Osaka",Sans-serif;
	color:					#808080;
}
#id_footer a.self{
	padding-right:			0px;
	margin-right:			5px;
	font:					Normal 9pt "MS PGothic","Osaka",Sans-serif;
	color:					#0000FF;
}
#id_footer a.self:hover{
	text-decoration:		Underline;
	cursor:					Pointer;
}
#id_footer a.sub_window{
	padding-right:			15px;
	margin-right:			10px;
	font:					Normal 9pt "MS PGothic","Osaka",Sans-serif;
	color:					#0000FF;
	background:				Transparent Url("../frame_images/ftr_a_sub_window.gif") No-repeat Right 50%;
}
#id_footer a.sub_window:hover{
	text-decoration:		Underline;
	cursor:					Pointer;
}
#id_footer img{
	padding-right:			5px;
}
#id_footer table{
	width:					100%;
}
#id_footer table th{
	text-align:				Left;
	padding-left:			5px;
	white-space:			Nowrap;
}
#id_footer table td{
	white-space:			Nowrap;
}
/* --------------------------------------------------------------------------------------------- */
div#id_home_search{
	display:				Block;
	margin-left:			5px;
	margin-bottom:			5px;
	padding:				0px 15px 10px 0px;
	white-space:			Nowrap;
}
label#id_res_search_label{
	font:					Normal 9pt "MS PGothic","Osaka",Sans-serif;
	color:					#808080;
	margin-right:			5px;
	vertical-align:			Middle;
}
input#id_search_texts{
	font:					Normal 9pt "MS PGothic","Osaka",Sans-serif;
	width:					250px;
	border:					Solid 1px #808080;
	vertical-align:			Middle;
	height:					17px;
	padding:				2px 0px 0px 2px;
	margin-left:			0px;
	margin-right:			3px;
	color:					#000000;
}
button#id_search_button{
	width:					49px;
	height:					21px;
	background:				Url("../frame_images/hdr_srch_btn_l.gif");
	border:					None;
	vertical-align:			Middle;
	cursor:					Pointer;
	margin:					0px;
}
@media print{
	#id_header,#id_footer{
		display:			None;
	}
	#id_body{
		position:			Static;
		overflow:			Visible;
		top:				0px;
		left:				0px;
		border-bottom:		None;
		width:				100%!important;
	}
	html{
		overflow:			Visible;
	}
}