*{
	margin:					0;
	padding:				0;
	font-size:				100%;
	text-decoration:		None;
	letter-spacing:			0;
}
html{
	border:					0;
	height:					100%;
}
body{
	margin:					0px;
	height:					100%;
	cursor:					Default;
	font:					Normal 9pt "MS PGothic","Osaka",Sans-serif;
	overflow:				Hidden;
}
#id_header{
	height:					100px;
}
#id_res_glossary{
	background:				#808080;
	color:					#FFFFFF;
	height:					25px;
	padding:				15px 15px 0px 15px;
	font:					Bold 9pt "MS PGothic","Osaka",Sans-serif;
	border-bottom:			Solid 5px #AAAAAA;
}
#id_initials{
	background:				#EFEFEF Url("../frame_images/gl_initial_bg.gif") Repeat;
	height:					55px;
	padding:				3px 3px 2px 3px;
}
#id_words{
	position:				Absolute;
	top:					105px;
	width:					295px;
	border-right:			Solid 5px #C0C0C0;
	overflow:				Auto;
}
#id_words div.normal{
	border-bottom:			Dotted 1px #C0C0C0;
	padding:				5px;
	color:					#0000FF;
	cursor:					Pointer;
}
#id_words div.normal a{
	color:					#0000FF;
	cursor:					Pointer;
}
#id_words div.click{
	border-bottom:			Solid 1px #FFFFFF;
	padding:				5px;
	background:				#000080;
	color:					#FFFFFF;
}
#id_words div.click a{
	color:					#FFFFFF;
	cursor:					Default;
}
#id_desc{
	position:				Absolute;
	top:					105px;
	left:					300px;
	border-left:			Solid 1px #808080;
	overflow:				Auto;
	background:				#FFFFE0;
}
#id_desc div.title{
	background:				#EFEFEF;
	padding:				15px 15px 10px 15px;
	font:					Bold 9pt "MS PGothic","Osaka",Sans-serif;
	border-bottom:			Solid 5px #DDDDDD;
}
#id_desc div.desc{
	padding:				10px 15px;
}
#id_desc div.desc ul{
	margin-left:			20px;
}
#id_desc div.desc a{
	cursor:					Pointer;
	color:					#0000FF;
}
#id_desc div.desc a:hover{
	cursor:					Pointer;
	color:					#0000FF;
	text-decoration:		Underline;
}
#id_initials button.normal{
	border:					Solid 1px #808080;
	font:					Normal 9pt "MS PGothic","Osaka",Sans-serif;
	margin:					2px 0px 8px 1px;
	cursor:					Pointer;
	height:					20px;
	background:				#FFFFFF;
	color:					#000000;
}
#id_initials button.click{
	border:					Solid 1px #000080;
	font:					Normal 9pt "MS PGothic","Osaka",Sans-serif;
	margin:					2px 0px 8px 1px;
	cursor:					Default;
	height:					20px;
	background:				#000080;
	color:					#FFFFFF;
}
#id_footer{
	position:				Absolute;
	height:					30px;
	width:					100%;
	border-top:				Solid 1px #808080;
	background:				#EFEFEF Url("../frame_images/close_bg.gif") Repeat-x 0px 1px;
	text-align:				Center;
	padding-top:			2px;
}
button.close{
	text-align:				Center;
	border:					Solid 1px #808080;
	font:					Normal 9pt "MS PGothic","Osaka",Sans-serif;
	cursor:					Pointer;
	width:					7em;
	height:					24px;
	padding:				3px 5px;
	color:					#0000FF;
	background:				#EFEFEF;
}
div.search_glossary{
	margin-left:			15px;
	margin-right:			15px;
	color:					#808080;
}
div.search_glossary a.search_glossary{
	color:					#008000;
}
div.search_glossary a.search_glossary:hover{
	color:					#008000;
	text-decoration:		Underline;
}
#id_search{
	display:				None;
}

div#id_search_results{
	cursor:					Default;
	border:					Solid 1px #808080;
	background:				#FFFFFF;
	padding:				2px 0px;
	padding-bottom:			15px;
	font:					Normal 9pt "MS PGothic","Osaka",Sans-serif;
	margin-left:			15px;
	margin-right:			15px;
}
div#id_search_results div.search_chapter_title{
	background:				#4682B4;
	color:					#FFFFFF;
	padding:				3px 5px;
	margin-top:				15px;
	margin-left:			10px;
	margin-right:			10px;
	font:					Bold 9pt "MS PGothic","Osaka",Sans-serif;
}
div#id_search_results div.search_topic_title{
	margin-top:				5px;
	margin-left:			20px;
	margin-right:			5px;
	color:					#0000FF;
	text-indent:			-10px;
}
div#id_search_results div.search_topic_title a{
	font:					Bold 9pt "MS PGothic","Osaka",Sans-serif;
	color:					#0000FF;
}
div#id_search_results div.search_topic_title a:hover{
	text-decoration:		Underline;
}
div#id_search_results div.search_topic_title img{
	width:					7px;
	height:					11px;
}
div#id_search_results div.search_topic_summary{
	font:					Normal 9pt "MS PGothic","Osaka",Sans-serif;
	margin-left:			17px;
	margin-right:			10px;
	padding-bottom:			5px;
	border-bottom:			Dotted 1px #808080;
}
div#id_search_results div.search_topic_summary a{
	font:					Normal 9pt "MS PGothic","Osaka",Sans-serif;
	color:					#0000FF;
}
div#id_search_results div.search_topic_summary a:hover{
	font:					Normal 9pt "MS PGothic","Osaka",Sans-serif;
	color:					#0000FF;
	text-decoration:		Underline;
}
div#id_search_status{
	margin-top:				0px;
	margin-left:			5px;
	margin-right:			4px;
	text-align:				Center;
	font-size:				1px;
	color:					#808080;
	height:					20px;
}
div#id_search_status button{
	font:					Bold 9pt "MS PGothic","Osaka",Sans-serif;
	padding:				0px 1px;
	margin:					1px 1px 0px 0px;
	vertical-align:			Top;
}
div#id_search_status button.page{
	background:				#FFFFFF;
	border:					Solid 1px #808080;
	color:					#0000FF;
	cursor:					Pointer;
	height:					19px;
}
div#id_search_status button.page_current{
	background:				#808080;
	border:					Solid 1px #808080;
	color:					#FFFFFF;
	font-weight:			Bold;
	margin:					0px 1px 0px 0px;
	cursor:					Default;
	height:					20px;
}
div#id_search_status a.previous_active,
div#id_search_status a.next_active{
	color:					#0000FF;
	border:					0;
	font-weight:			Normal;
	cursor:					Pointer;
	vertical-align:			Top;
	padding:				0;
	margin:					0;
}
div#id_search_status a.disabled{
	border:					0;
	color:					#808080;
	font-weight:			Normal;
	vertical-align:			Top;
	padding:				0;
	margin:					0;
}
div#id_search_status a img{
	margin:					0 1px 0 0;
	_margin-right:			2px;
	border:					0;
	padding:				0;
	vertical-align:			Top;
	height:					20px;
	width:					19px;
}
span.hit{
	background:				#FFFF00;
}
span.hit_0{
	background:				#FFFF00;
}
span.hit_1{
	background:				#00FFFF;
}
span.hit_2{
	background:				#FF88FF;
}
span.hit_3{
	background:				#90EE90;
}
span.hit_4{
	background:				#FFD700;
}
span.hit_5{
	background:				#00FF00;
}
span.hit_6{
	background:				#FF00FF;
}
span.hit_7{
	background:				#FFA070;
}
span.hit_8{
	background:				#FFC0CB;
}
span.hit_9{
	background:				#DDA0DD;
}
@media print{
	#id_header,#id_footer,#id_words,#id_search,.search_glossary,#id_search_results,#id_search_status{
		display:			None!important;
	}
	#id_desc{
		position:			Static;
		top:				0px;
		left:				0px;
		width:				100%!important;
		height:				100%;
		border-left:		0;
		overflow:			Visible;
		background:			#FFFFFF;
	}
}