*{
	margin:					0;
	padding:				0;
	font-size:				100%;
	text-decoration:		None;
	letter-spacing:			0;
}
html{
	height:					100%;
	border:					0;
	overflow:				Hidden;
}
body{
	margin:					0px;
	height:					100%;
	cursor:					Default;
}
/* --------------------------------------------------------------------------------------------- */
#id_header{
	background:				#FFFFFF Url("../frame_images/hdr_bg2.gif") Repeat-x 0 Bottom;
	width:					100%;
	height:					66px;
	position:				Absolute;
}
#id_header table{
	width:					100%;
	height:					66px;
	font-size:				0px;
}
#id_header table th.header{
	text-align:				Left;
	padding-left:			10px;
	vertical-align:			Middle;
	height:					36px;
	white-space:			Nowrap;
}
#id_header table th.header span#id_res_canon_logo{
	margin-right:			20px;
}
#id_header table th.header span#id_res_canon_logo img{
	vertical-align:			Middle;
	cursor:					Pointer;
}
#id_header table th.header span#id_res_guide_name{
	font:					Bold 9pt "MS PGothic","Osaka",Sans-serif;
	color:					#4687B4;
	vertical-align:			Middle;
}
#id_header table td.header{
	text-align:				Right;
	vertical-align:			Middle;
	padding-right:			10px;
	height:					36px;
	white-space:			Nowrap;
}
#id_header table td.header a.self{
	padding-right:			0px;
	margin-right:			10px;
	font:					Normal 9pt "MS PGothic","Osaka",Sans-serif;
	color:					#0000FF;
}
#id_header table td.header a.self:hover{
	text-decoration:		Underline;
	cursor:					Pointer;
}
#id_header table td.header a.sub_window{
	padding-right:			15px;
	margin-right:			10px;
	font:					Normal 9pt "MS PGothic","Osaka",Sans-serif;
	color:					#0000FF;
	background:				Transparent Url("../frame_images/hdr_a_sub_window.gif") No-repeat Right 50%;
}
#id_header table td.header a.sub_window:hover{
	text-decoration:		Underline;
	cursor:					Pointer;
}
#id_header table td.header img.header_vr{
	padding-right:			5px;
}
#id_header table td.header table td span{
	padding-right:			0px;
	margin-right:			10px;
	font:					Normal 9pt "MS PGothic","Osaka",Sans-serif;
	color:					#808080;
}

/* ------------------------------------------------------------------------------------------------ *
   Tabs
 * ------------------------------------------------------------------------------------------------ */
#id_header table th.bar{
	height:					30px;
	width:					300px;
	white-space:			Nowrap;
}
#id_header th.bar button{
	height:					26px;
	width:					133px;
	border:					None;
	font:					Normal 9pt "MS PGothic","Osaka",Sans-serif;
	position:				Absolute;
	top:					40px;
}
#id_header th.bar button#id_res_contents{
	left:					15px;
}
#id_header th.bar button#id_res_search{
	left:					150px;
}
button.tab_active{
	background:				Url("../frame_images/tb_actv.gif");
	color:					#000000;
	cursor:					Default;
}
button.tab_inactive{
	background:				Url("../frame_images/tb_inactv.gif");
	color:					#0000FF;
	cursor:					Pointer;
}
button.tab_inactive_over{
	background:				Url("../frame_images/tb_inactv_over.gif");
	color:					#0000FF;
	cursor:					Pointer;
}

/* ------------------------------------------------------------------------------------------------ *
   Icons
 * ------------------------------------------------------------------------------------------------ */
#id_header table td.bar{
	height:					30px;
	text-align:				Left;
	white-space:			Nowrap;
	padding-left:			15px;
	width:					Auto;
}
#id_header table td.bar *{
	white-space:			Nowrap;
}
#id_header table td.bar button{
	margin:				3px 2px;
	width:				22px;
	height:				22px;
	padding:			0px;
	background:			Transparent;
	vertical-align:		Middle;
}
#id_header table td.bar #id_res_bar_icon_toggle_panel{
	border:					0;
	background:				None;
	cursor:					Pointer;
	position:				Absolute;
	left:					283px;
	top:					37px;
	height:					28px;
	width:					28px;
	margin:					0px;
	padding:				0px;
}
#id_header table td.bar #id_res_bar_icon_previous{
	border:					None;
	background:				None;
	cursor:					Pointer;
}
#id_header table td.bar #id_res_bar_icon_next{
	border:					None;
	background:				None;
	cursor:					Pointer;
}
#id_header table td.bar #id_res_bar_icon_print{
	border:					None;
	background:				None;
	cursor:					Pointer;
}
#id_header table td.bar label{
	font:					Normal 9pt "MS PGothic","Osaka",Sans-serif;
	vertical-align:			Middle;
	color:					#0000FF;
	cursor:					Pointer;
	margin-right:			5px;
	padding-right:			5px;
	border-right:			Solid 1px #808080;
}
div#id_breadcrumbs{
	display:				None;
}
div#id_content div#id_breadcrumbs{
	display:				Block;
}
div#id_content div#id_breadcrumbs a{
	font:					Normal 9pt "MS PGothic","Osaka",Sans-serif;
	margin:					0px;
	margin-right:			2px;
}
div#id_content div#id_breadcrumbs a:link{
	font-weight:			Normal;
	color:					#0000FF;
}
div#id_content div#id_breadcrumbs a:visited{
	font-weight:			Normal;
	color:					#0000FF;
}
div#id_content div#id_breadcrumbs a:hover{
	font-weight:			Normal;
	text-decoration:		Underline;
	background:				Transparent;
}
div#id_content div#id_document_number{
	font:					Normal 9pt "MS PGothic","Osaka",Sans-serif;
	color:					#808080;
	text-align:				Right;
	padding-right:			10px;
}
/* --------------------------------------------------------------------------------------------- */
#id_content{
	background:				#FFFFFF;
	position:				Absolute;
	left:					300px;
	overflow:				Auto;
	border-bottom:			Solid 1px #808080;
	top:					66px;
}
/* --------------------------------------------------------------------------------------------- */
#id_panel{
	background:				#E7F0FB;
	width:					299px;
	border-right:			Solid 1px #808080;
	border-bottom:			Solid 1px #808080;
	position:				Absolute;
	top:					66px;
	overflow:				Hidden;
}
#id_panel #id_panel_label{
	padding:				10px 5px 0px 5px;
}
#id_panel #id_panel_toc #id_panel_label label{
	font:					Normal 9pt "MS PGothic","Osaka",Sans-serif;
	display:				Block;
	color:					#000000;
}
#id_panel #id_panel_search #id_panel_label{
	height:					38px;
}
#id_panel #id_panel_search #id_panel_label label{
	font:					Normal 9pt "MS PGothic","Osaka",Sans-serif;
	display:				Block;
	color:					#000000;
	height:					15px;
	margin-bottom:			0px;
}
#id_panel #id_panel_label select{
	font:					Normal 9pt "MS PGothic","Osaka",Sans-serif;
	width:					290px;
	border:					Solid 1px #808080;
	vertical-align:			Middle;
	height:					20px;
}
#id_panel #id_panel_label select option{
	background:				#FFFFFF;
	font:					Normal 9pt "MS PGothic","Osaka",Sans-serif;
}
#id_panel #id_panel_label input#id_search{
	font:					Normal 9pt "MS PGothic","Osaka",Sans-serif;
	width:					245px;
	border:					Solid 1px #808080;
	vertical-align:			Middle;
	margin-top:				0px;
	color:					#000000;
	padding:				2px 0px 0px 2px;
	height:					17px;
}
#id_panel button#id_search_button{
	width:					33px;
	height:					21px;
	background:				Url("../frame_images/hdr_srch_btn_m.gif");
	border:					None;
	vertical-align:			Middle;
	cursor:					Pointer;
	margin-left:			3px;
}
#id_panel div#id_search_options_bottom{
	text-align:				Right;
	padding-right:			5px;
	padding-bottom:			5px;
}
#id_panel button#id_res_search_button{
	border:					Solid 1px #808080;
	font:					Normal 9pt "MS PGothic","Osaka",Sans-serif;
	cursor:					Pointer;
	padding:				0px;
	color:					#0000FF;
	background:				#EFEFEF;
}
#id_panel button#id_res_search_button img{
	vertical-align:			Middle;
}
#id_toc_open_close *{
	vertical-align:			Middle;
}
#id_toc_open_close{
	margin:					3px 0 0 0;
	padding:				0px 0px 0px 2px;
	font-size:				1px;
	height:					18px;
}
#id_toc_open_close img{
	margin:					0;
	border:					0;
	vertical-align:			Middle;
}
#id_toc_open_close a{
	color:					#0000FF;
	cursor:					Pointer;
	font:					Normal 9pt "MS PGothic","Osaka",Sans-serif;
}
#id_toc_open_close a:hover{
	text-decoration:		Underline;
}
#id_print_all *{
	vertical-align:			Middle;
}
#id_print_all{
	padding:				0px 0px 0px 5px;
	font-size:				1px;
	height:					18px;
	position:				Absolute;
	bottom:					5px;
}
#id_print_all img{
	margin:					0;
	border:					0;
}
#id_print_all a{
	color:					#0000FF;
	cursor:					Pointer;
	font:					Normal 9pt "MS PGothic","Osaka",Sans-serif;
}
#id_print_all a:hover{
	text-decoration:		Underline;
}
div#id_search_options_label{
	margin:					5px 4px 0px 5px;
	border-top:				Solid 1px #808080;
	border-left:			Solid 1px #808080;
	border-right:			Solid 1px #808080;
	border-bottom:			0;
	font:					Normal 0pt "Tahoma";
	background:				#E3FFFF;
	height:					17px;
}
div#id_search_options_label a{
	font:					Normal 9pt "MS PGothic","Osaka",Sans-serif;
	color:					#0000FF;
	vertical-align:			Middle;

}
div#id_search_options_label a:hover{
	color:					#0000FF;
	text-decoration:		Underline;
}
div#id_search_options_label img{
	vertical-align:			Middle;
	border:					None;

	height:					15px;
}
div#id_search_options{
	font:					Normal 9pt "MS PGothic","Osaka",Sans-serif;
	margin:					0px 4px 0px 5px;
	padding-left:			10px;
	border-top:				0;
	border-bottom:			0;
	border-left:			Solid 1px #808080;
	border-right:			Solid 1px #808080;
	background:				#E3FFFF;
	height:					210px;
}
div#id_search_options input{
	vertical-align:			Middle;
	width:					20px;
	height:					20px;
}
div#id_search_options label{
	font:					Normal 9pt "MS PGothic","Osaka",Sans-serif;
}
div#id_search_chapters{
	margin-left:			20px;
	width:					251px;
	height:					100px;
	border:					Solid 1px #808080;
	background:				#FFFFFF;
	overflow:				Auto;
}
div#id_search_chapters label{
	cursor:					Pointer;
}
div#id_search_results{
	cursor:					Default;
	margin-left:			5px;
	overflow:				Auto;
	border:					Solid 1px #808080;
	background:				#EFEFEF;
	padding:				2px 0px;
	width:					288px;
	font:					Normal 9pt "MS PGothic","Osaka",Sans-serif;
}
div#id_search_results div.message{
	text-align:				Center;
	padding-top:			15px;
	color:					#C0C0C0;
	font:					Normal 9pt "MS PGothic","Osaka",Sans-serif;
}
div#id_search_results div.message img{
	margin-top:				5px;
}
div#id_search_results div.search_help{
	position:				Absolute;
	bottom:					25px;
	width:					100%;
	text-align:				Right;
	right:					10px;
}
div#id_search_results div.search_help a{
	color:					#0000FF;
	font:					Normal 9pt "MS PGothic","Osaka",Sans-serif;
}
div#id_search_results div.search_help a:hover{
	text-decoration:		Underline;
}
div#id_search_results div.search_scope_status{
	font:					Normal 9pt "MS PGothic","Osaka",Sans-serif;
	margin-top:				5px;
	margin-left:			10px;
	color:					#808080;
}
div#id_search_results div.search_scope_status b{
	font:					Bold 9pt "MS PGothic","Osaka",Sans-serif;
}
div#id_search_results div.search_result_conditions{
	font:					Normal 9pt "MS PGothic","Osaka",Sans-serif;
	margin-top:				0px;
	margin-left:			10px;
	color:					#808080;
}
div#id_search_results div.search_result_conditions b{
	font:					Bold 9pt "MS PGothic","Osaka",Sans-serif;
}
div#id_search_results div.search_result_conditions span{
	font:					Normal 9pt "MS PGothic","Osaka",Sans-serif;
}
div#id_search_results div.search_chapter_title{
	background:				#4682B4;
	color:					#FFFFFF;
	padding:				3px 5px;
	margin-top:				15px;
	margin-left:			10px;
	margin-right:			10px;
	font:					Bold 9pt "MS PGothic","Osaka",Sans-serif;
}
div#id_search_results div.search_topic_title{
	margin-top:				5px;
	margin-left:			20px;
	margin-right:			5px;
	color:					#0000FF;
	text-indent:			-10px;
}
div#id_search_results div.search_topic_title a{
	font:					Bold 9pt "MS PGothic","Osaka",Sans-serif;
	color:					#0000FF;
}
div#id_search_results div.search_topic_title a:hover{
	text-decoration:		Underline;
}
div#id_search_results div.search_topic_title img{
	width:					7px;
	height:					11px;
}
div#id_search_results div.search_topic_summary{
	font:					Normal 9pt "MS PGothic","Osaka",Sans-serif;
	margin-left:			17px;
	margin-right:			10px;
	padding-bottom:			5px;
	border-bottom:			Dotted 1px #808080;
}
div#id_search_results div.search_topic_summary a{
	font:					Normal 9pt "MS PGothic","Osaka",Sans-serif;
	color:					#0000FF;
}
div#id_search_results div.search_topic_summary a:hover{
	font:					Normal 9pt "MS PGothic","Osaka",Sans-serif;
	color:					#0000FF;
	text-decoration:		Underline;
}
div#id_search_results div.search_topic_summary span{
	font:					Normal 9pt "MS PGothic","Osaka",Sans-serif;
}
div#id_search_status{
	margin-top:				0px;
	margin-left:			5px;
	margin-right:			4px;
	text-align:				Center;
	font-size:				1px;
	color:					#808080;
	height:					20px;
}
div#id_search_status button{
	font:					Bold 9pt "MS PGothic","Osaka",Sans-serif;
	padding:				0px 1px;
	margin:					1px 1px 0px 0px;
	vertical-align:			Top;
}
div#id_search_status button.page{
	background:				#FFFFFF;
	border:					Solid 1px #808080;
	color:					#0000FF;
	cursor:					Pointer;
	height:					19px;
}
div#id_search_status button.page_current{
	background:				#808080;
	border:					Solid 1px #808080;
	color:					#FFFFFF;
	font-weight:			Bold;
	margin:					0px 1px 0px 0px;
	cursor:					Default;
	height:					20px;
}
div#id_search_status a.previous_active,
div#id_search_status a.next_active{
	color:					#0000FF;
	border:					0;
	font-weight:			Normal;
	cursor:					Pointer;
	vertical-align:			Top;
	padding:				0;
	margin:					0;
}
div#id_search_status a.disabled{
	border:					0;
	color:					#808080;
	font-weight:			Normal;
	vertical-align:			Top;
	padding:				0;
	margin:					0;
}
div#id_search_status a img{
	margin:					0 1px 0 0;
	_margin-right:			2px;
	border:					0;
	padding:				0;
	vertical-align:			Top;
	height:					20px;
	width:					19px;
}
/* --------------------------------------------------------------------------------------------- */
#id_toc{
	position:				Absolute;
	top:					69px;
	left:					5px;
	cursor:					Default;
	margin-right:			0px;
	overflow:				Auto;
	width:					288px;
	border:					Solid 1px #808080;
	background:				#FFFFFF;
	padding:				0px;
}
#id_toc *{
	white-space:			Nowrap;
	font:					Bold 9pt "MS PGothic","Osaka",Sans-serif;
	vertical-align:			Top;
	_vertical-align:		Middle;
}
#id_toc img{
	border:					None;
}
#id_toc h1,
#id_toc h2,
#id_toc h3,
#id_toc h4,
#id_toc h5,
#id_toc h6{
	padding-top:			5px;
	padding-right:			2px;
	padding-bottom:			5px;
	border-bottom:			Solid 1px #EFEFEF;
}
.join #id_toc h1{
	padding-left:			5px;
}
.join #id_toc h2{
	padding-left:			25px;
}
.join #id_toc h3{
	padding-left:			45px;
}
.join #id_toc h4{
	padding-left:			65px;
	font-weight:			Normal;
}
.join #id_toc h5{
	padding-left:			85px;
	font-weight:			Normal;
}
.join #id_toc h6{
	padding-left:			105px;
	font-weight:			Normal;
}
.apart #id_toc h1{
	padding-left:			0px;
}
.apart #id_toc h2{
	padding-left:			5px;
}
.apart #id_toc h3{
	padding-left:			25px;
}
.apart #id_toc h4{
	padding-left:			45px;
	font-weight:			Normal;
}
.apart #id_toc h5{
	padding-left:			65px;
	font-weight:			Normal;
}
.apart #id_toc h6{
	padding-left:			85px;
	font-weight:			Normal;
}
#id_toc h1 a,
#id_toc h2 a,
#id_toc h3 a,
#id_toc h4 a,
#id_toc h5 a,
#id_toc h6 a{
	color:					#0000FF;
}
#id_toc h1 a:hover,
#id_toc h2 a:hover,
#id_toc h3 a:hover,
#id_toc h4 a:hover,
#id_toc h5 a:hover,
#id_toc h6 a:hover{
	border-bottom:			Dotted 1px #0000FF;
}
#id_toc h1 a:active,
#id_toc h2 a:active,
#id_toc h3 a:active,
#id_toc h4 a:active,
#id_toc h5 a:active,
#id_toc h6 a:active{
	color:					#B92229;
}
#id_toc h1 a:focus,
#id_toc h2 a:focus,
#id_toc h3 a:focus,
#id_toc h4 a:focus,
#id_toc h5 a:focus,
#id_toc h6 a:focus{
	color:					#B92229;
}
#id_toc h1 img,
#id_toc h2 img,
#id_toc h3 img,
#id_toc h4 img,
#id_toc h5 img,
#id_toc h6 img{
	width:					15px;
	height:					15px;
	margin-right:			5px;
}
#id_toc a.current,
div.search_topic_title a.current{
	color:					#000000!important;
	background:				#FFDC16;
	padding:				1px 2px;
	-webkit-border-radius:	3px;
	-moz-border-radius:		3px;
}
#id_toc a.current:hover,
div.search_topic_title a.current:hover{
	border-bottom:			None;
	cursor:					Default;
	text-decoration:		None;
}
#id_toc a.current:focus,
div.search_topic_title a.current:focus{
	color:					CaptionText;
}
#id_toc a.current:active,
div.search_topic_title a.current:active{
	color:					CaptionText;
}
#id_toc a.sign:hover{
	border-bottom:			None;
}
/* --------------------------------------------------------------------------------------------- */
@media print{
	#id_header,#id_panel,#id_footer{
		display:			None!important;
	}
	#id_content{
		position:			Static;
		overflow:			Visible;
		top:				0px;
		left:				0px;
		width:				100%!important;
		border-bottom:		None;
	}
	html{
		overflow:			Visible;
	}
}
/* --------------------------------------------------------------------------------------------- */
span.hit{
	background:				#FFFF00;
}
span.hit_0{
	background:				#FFFF00;
}
span.hit_1{
	background:				#00FFFF;
}
span.hit_2{
	background:				#FF88FF;
}
span.hit_3{
	background:				#90EE90;
}
span.hit_4{
	background:				#FFD700;
}
span.hit_5{
	background:				#00FF00;
}
span.hit_6{
	background:				#FF00FF;
}
span.hit_7{
	background:				#FFA070;
}
span.hit_8{
	background:				#FFC0CB;
}
span.hit_9{
	background:				#DDA0DD;
}
body div#id_content div a.glossary{
	text-decoration:		None;
	border-bottom:			Dotted 1px #008000;
	color:					#008000!important;
	font-size:				100%;
}
body div#id_content a.glossary:hover{
	text-decoration:		None;
	border-bottom:			Dotted 1px #008000;
	background:				#AAFFAA;
	color:					#008000;
}
body div#id_content div span.glossary{
	border-bottom:			Dotted 1px #008000;
	font-size:				100%;
}

/* --------------------------------------------------------------------------------------------- */
#id_footer{
	background:				#EFEFEF;
	position:				Absolute;
	height:					20px;
	border-top:				Solid 1px #FFFFFF;
	font:					Normal 9pt "MS PGothic","Osaka",Sans-serif;
	text-align:				Right;
	padding-top:			5px;
	font-size:				0px;
	overflow:				Auto;
	bottom:					0px;
}
#id_footer span{
	padding-right:			5px;
	font:					Normal 9pt "MS PGothic","Osaka",Sans-serif;
	color:					#808080;
}
#id_footer a.self{
	padding-right:			0px;
	margin-right:			5px;
	font:					Normal 9pt "MS PGothic","Osaka",Sans-serif;
	color:					#0000FF;
}
#id_footer a.self:hover{
	text-decoration:		Underline;
	cursor:					Pointer;
}
#id_footer a.sub_window{
	padding-right:			15px;
	margin-right:			10px;
	font:					Normal 9pt "MS PGothic","Osaka",Sans-serif;
	color:					#0000FF;
	background:				Transparent Url("../frame_images/ftr_a_sub_window.gif") No-repeat Right 50%;
}
#id_footer a.sub_window:hover{
	text-decoration:		Underline;
	cursor:					Pointer;
}
#id_footer img{
	padding-right:			5px;
}
#id_footer table{
	width:					100%;
}
#id_footer table th{
	text-align:				Left;
	padding-left:			5px;
	white-space:			Nowrap;
}
#id_footer table td{
	white-space:			Nowrap;
}

/* --------------------------------------------------------------------------------------------- */
div.h1,div.style000_h1,div.style001_h1,div.style002_h1{
	position:Relative;
}
div.h1 a,div.style000_h1 a,div.style001_h1 a,div.style002_h1 a{
	position:Absolute;
}