<TABLE border="0" width="100%">
<TR><td colspan="4" bgcolor="#ff0000" width="100%" height="20"><b><font color="#ffffff" size="-1">シリーズ商品</font></b></td></TR>
<TR><TD colspan="4" height="15"></TD></TR>
<!--シリーズ商品-->
<TR><TD colspan="4" align="center" valign="bottom"><a href="./カテゴリ/XXX_シリーズURL.itempage" target="parent"><img src="./ページ/series.jpg" width="100%"></a></td></TR>
<TR><TD colspan="4" height="15"></TD></TR>
<!--/シリーズ商品-->
<!--関連商品-->
<TR1行>
XXX_child_関連商品SP用top1行</TR1行>
<TR1行>
XXX_child_関連商品SP用bottom1行</TR1行>
<TR2行>
XXX_child_関連商品SP用top2行</TR2行>
<TR2行>
XXX_child_関連商品SP用bottom2行</TR2行>
<TR3行>
XXX_child_関連商品SP用top3行</TR3行>
<TR3行>
XXX_child_関連商品SP用bottom3行</TR3行>
<TR4行>
XXX_child_関連商品SP用top4行</TR4行>
<TR4行>
XXX_child_関連商品SP用bottom4行</TR4行>
<TR5行>
XXX_child_関連商品SP用top5行</TR5行>
<TR5行>
XXX_child_関連商品SP用bottom5行</TR5行>
<TR><TD colspan="4" height="15"></TD></TR>
<!--/関連商品-->
<TR><td colspan="4" height="20" bgcolor="#ff0000"></td></TR></TABLE>
