<br>
<table width="700" border="0" cellpadding="0" cellspacing="0">
<tbody>
<tr>
<td>
<img src="./イメージス/information.gif" width="700">
<table width="700" border="0" cellpadding="10" cellspacing="1" bgcolor="#CCCCCC" style="border-spacing:1px;border-collapse: separate;margin-bottom:1px;">
<tbody>


XXX_parent_特徴

XXX_parent_商品サイズ

XXX_parent_梱包サイズ

XXX_parent_材質

XXX_parent_色

XXX_parent_仕様

XXX_parent_お届け状態

XXX_parent_注意事項

XXX_parent_関連商品

XXX_parent_説明マーク


</tbody>
</table>
</tr>
</tbody>
</table>