<a href="https://store.shopping.yahoo.co.jp/taiho-kagu/yahooauctin.html"><img src="https://shopping.c.yimg.jp/lib/taiho-kagu/hajime.jpg" width="500" height="100" border="0"></a><br><br>

<b><font coler="#80000ff" size=+1>【在庫確認について】</font></b><br>
商品の販売形態上 リアルタイムでの在庫更新ができません。<br>
必ず質問欄より在庫の確認をお願いします。<br><br>

<b><font coler="#80000ff" size=+1>【返品・キャンセルについて】</font></b><br>
落札・ご購入前に、必ず商品の<font coler="#ff0000">搬入経路の確認</font>をお願いします。<br>
経路を確認されないままご購入され、「部屋まで商品が入りませんでした」等の理由での<br>
キャンセルはお受けできません。<br><br>

<b><font coler="#80000ff" size=+1>【配達日・時間指定などについて】</font></b><br>
配達希望日は、支払日から<font coler="#ff0000">10営業日以降</font>で指定可能です。<br>
送付先地域によっては「毎週●曜日のみの配達」という地域もございますのでご了承ください。<br>
お時間指定に関しましては、運送会社との契約上、<font color="#ff0000">時間指定はお受けいたしかねます。</font><br><br>

<b><font coler="#80000ff" size=+1>【民芸家具に関してのお願い】</font></b><br>
民芸家具につきましては、職人による手作業が多いため大量生産ができません。<br>
在庫がある場合もございますが、欠品の場合は、<font color="#ff0000">入荷まで1～2ヵ月お待ちいただきます。(別注生産の為、キャンセル不可)</font><br><br>

<b><font coler="#80000ff" size=+1>【ヤフオクでご覧時の注意点】</font></b><br>
ヤフオクの仕様により画像が全て表示されていない場合があります。<br>下のリンクより全ての画像がご確認できます。必ずご確認ください。<br>

Yahooショッピング商品ページに移動します。<br>
<a href="https://store.shopping.yahoo.co.jp/taiho-kagu/<<商品コード>>"target="_blank">https://store.shopping.yahoo.co.jp/taiho-kagu/<<商品コード>></a><br><br>

<a href ="https://store.shopping.yahoo.co.jp/taiho-kagu/" target="_blank"><img src ="https://shopping.c.yimg.jp/lib/taiho-kagu/y_shop_bn.jpg"></a><br><br>
<a href ="https://auctions.yahoo.co.jp/seller/taiho_kagu" target="_blank"><img src ="https://shopping.c.yimg.jp/lib/taiho-kagu/y_auc_bn.jpg"></a>
<br><br><br>